@use "../../global/import"as *;

.c-btn {
    display: inline-block;
    min-width: 180px;
    padding: 14px 48px;
    color: #fff;
    text-align: center;
    background-color: var(--secondary-color);
    border-radius: 50px;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s;
}

.c-btn:hover {
    opacity: 1;
    background-color: var(--primary-color);
}

.c-btn--secondary {
    color: var(--secondary-color);
    background-color: #fff;
    border: 1px solid var(--secondary-color);
}

.c-btn--secondary:hover {
    color: #fff;
    background-color: var(--primary-color);
}


// SPのみサイズ変更
@include sp{
    .c-btn{
        min-width: 168px;
        padding: 10px 24px 8px;
    
        &--secondary{
            color: var(--secondary-color);
            background-color: #fff;
            border-color: var(--secondary-color);
        }
    }
}
