@use "../../global/import"as *;

.u-m0a{
    margin: 0 auto;
}
.u-mla{
    margin-left: auto;
}
.u-m0 {
    margin: 0;
}
.u-mt0 {
    margin-top: 0;
}
.u-mb0 {
    margin-bottom: 0;
}
.u-ml0 {
    margin-left: 0;
}
.u-mr0 {
    margin-right: 0;
}


@for $i from 0 through 20 {
    .u-m#{$i * 8} {
        margin: 8px * $i;
    }
    .u-mt#{$i * 8} {
        margin-top: 8px * $i;
    }
    .u-mb#{$i * 8} {
        margin-bottom: 8px * $i;
    }
    .u-ml#{$i * 8} {
        margin-left: 8px * $i;
    }
    .u-mr#{$i * 8} {
        margin-right: 8px * $i;
    }
}

@include pc{
    @for $i from 0 through 20 {
        .u-m#{$i * 8}-pc {
            margin: 8px * $i;
        }
        .u-mt#{$i * 8}-pc {
            margin-top: 8px * $i;
        }
        .u-mb#{$i * 8}-pc {
            margin-bottom: 8px * $i;
        }
        .u-ml#{$i * 8}-pc {
            margin-left: 8px * $i;
        }
        .u-mr#{$i * 8}-pc {
            margin-right: 8px * $i;
        }
	}
}

@include tab{
    @for $i from 0 through 20 {
        .u-m#{$i * 8}-tab {
            margin: 8px * $i;
        }
        .u-mt#{$i * 8}-tab {
            margin-top: 8px * $i;
        }
        .u-mb#{$i * 8}-tab {
            margin-bottom: 8px * $i;
        }
        .u-ml#{$i * 8}-tab {
            margin-left: 8px * $i;
        }
        .u-mr#{$i * 8}-tab {
            margin-right: 8px * $i;
        }
	}
}

@include sp{
    @for $i from 0 through 20 {
        .u-m#{$i * 8}-sp {
            margin: 8px * $i;
        }
        .u-mt#{$i * 8}-sp {
            margin-top: 8px * $i;
        }
        .u-mb#{$i * 8}-sp {
            margin-bottom: 8px * $i;
        }
        .u-ml#{$i * 8}-sp {
            margin-left: 8px * $i;
        }
        .u-mr#{$i * 8}-sp {
            margin-right: 8px * $i;
        }
	}
}


