@use "../../global/import"as *;

.u-main {
    color: var(--primary-color);
}

.u-secondary {
    color: var(--secondary-color);
}

.u-align-center {
    text-align: center;
}

.u-align-left {
    text-align: left;
}

.u-align-right {
    text-align: right;
}

.u-bold{
    font-weight: 700;
}