@use "../global/import"as *;


.l_footer {
    border-top: var( --secondary-color);
    padding: 32px 0 40px;
    margin-top: 80px;
    text-align: center;

    &__wrapper{
        display: flex;
        justify-content: space-between;
    }

    &__contents{
        display: flex;
        flex-direction: column;
        align-items: baseline;
        gap: 16px 0;
    }

    &__text{
        margin-bottom: 0;
        text-align: left;
        font-size: var(--font-size-small);
    }

    &__logo{
        width: 40px;
    }

    &__link{
        display: flex;
        align-items: flex-start;
        gap: 16px;
        font-size: var(--font-size-small);

        a {
        display: inline-block;
        text-decoration: none;
        padding: 4px 0; 
        line-height: 1;
        }
    }
}


@include sp{
    .l_footer{
        &__wrapper {
        flex-direction: column-reverse;
        gap: 24px 0;
        }

        &__contents{
            gap: 8px 0;
        }
    }
}