@use "../global/import"as *;


.l-header {
    height: 64px;
    padding: 16px 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;

    &__logo{
        width: 40%;
    }
}


@include sp{
    .l-header {
        &__logo{
            width: 30px;
        }
    }
}