@use "../global/import"as *;


.l-header {
    padding: 40px 0 8px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
    background-color: #fff;

    &__wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__logo{
        width: 2.2vh;
    }
}


@include sp{
    .l-header {
        &__logo{
            width: 30px;
        }
    }
}