@use "../../global/import"as *;

.p-dot {
    display: flex;
    gap: 32px;
    margin-bottom: 80px;
}

.p-dot span {
    width: 6px;
    height: 6px;
    background-color: var(--primary-color);
    border-radius: 50%;
}