@use "../../global/import"as *;

.p-dot__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    margin: 80px 0;
}

.p-dot__dot {
    width: 6px;
    height: 6px;
    background-color: var(--primary-color);
    border-radius: 50%;
}

.p-dot__wtext::after {
    content: '';
    display: inline-block;
    margin-left: 4px;
    width: 6px;
    height: 6px;
    background-color: var(--primary-color);
    border-radius: 50%;
}