@use "../../global/import"as *;

.p-mainVisual {
    display: flex;
    align-items: center;
    justify-content: center;
    // justify-content: space-between;
    min-height: 100vh;
    padding-top: 64px;

    &__text{
        // width: 50%;
        width: 100%;
        text-align: center;       
    }

    &__h1{
        margin-bottom: 12px;
        font-size: 48px;
        font-weight: 700;
        font-family: var(--font-hind);        
    }

    &__name{
        margin-bottom: 60px;
        font-size: var(--font-size-main);
    }

    &__btn{
        justify-content: center;
    }
}



// .p-mainVisual__image {
//     width: 45%;
// }


@include sp{
    .p-mainVisual {
        flex-direction: column;
        text-align: center;
        padding-top: 80px;
        min-height: auto;

        &__h1{
            font-size: 36px;
        }

        &__name{
            margin-bottom: 30px;
        }
    }

}