@use "../../global/import"as *;

.p-mainVisual {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100vh;

    &__h1{
        margin-bottom: 12px;
        font-size: 48px;
    }

    &__h2{
        margin-bottom: 64px;
        font-size: var(--font-size-main);
        font-weight: normal;
    }

    &__name{
        margin-bottom: 60px;
    }

    &__image{
        width: 305px;
    }
}

