@use "../../global/import"as *;

.p-others{

    &__list{
        display: flex;
        gap: 0 32px;
    }

    &__card{
        width: calc(100% / 2 - 32px);
        border: 1px var(--secondary-color) solid;
        border-radius: 4px;
    }

    &__thumbnail{
        width: 100%;
        border-radius: 4px;
    }

    &__title{
        padding: 24px 8px;
        margin-bottom: 0;
        font-size: var(--font-size-main);
        font-weight: 400;
        color: var(--secondary-color-rgb) /0.5;
    }
}

@include sp{
.p-others{
    &__list{
        flex-direction: column;
    }
}

}