@use "../../global/import" as *;

.p-project-box{
    padding: 16px;
    margin-bottom: 32px;
    border: 1px solid var(--secondary-color);
    border-radius: 4px;

    &__title{
        margin-bottom: 8px;
        color: var(--primary-color);
    }
}