@use "../../global/import" as *;

.p-project-flex{
    display: flex;
    gap: 0 34px;

    &--reverse{
        flex-direction: row-reverse;
    }

    &__image{
        width: 60%;
    }

    &__explanation{
        width: 40%;
    }

}

@include sp{
    .p-project-flex{
        flex-direction: column;

        &--reverse{
            flex-direction: column;
        }

        &__image{
            width: 100%;
        }

        &__explanation{
            width: 100%;
        }
    }
}