@use "../../global/import" as *;

.p-project {
    &__bg{
        width: 100%;
        padding: 40px 0;

        &--primary{
            background-color: var(--primary-color);
            color: #fff;
        }

        &--black{
            background-color: var(--secondary-color);
            color: #fff;
        }
    }

    &__btn{
        text-align: center;
    }

    &__thumb {
        margin-top: 64px;
    }

    &__h1 {
        margin-bottom: 32px;
        text-align: center;
        font-size: 2.4em;
    }

    &__intro{
        max-width: 640px;
        margin: 0 auto 80px;
    }

    &__summary{
        margin-bottom: 32px;
    }

    &__list {
        dt{
            font-weight: 700;
        }

        dd{
            margin-bottom: 16px;

            &:last-child{
                margin-bottom: 0;
            }
        }
    }

    &__ul{
        margin: 32px 0;
    }
    &__li{
        position: relative;
        padding-left: 8px;
        list-style: none;

        &::before{
            content: '';
            position: absolute;
            top: 0.6em; 
            left: 0;
            width: 4px;
            height: 4px;
            background-color: var(--secondary-color);
            border-radius: 50%;     
        }

        &--white{
            color: white;

            &::before{
                background-color: #fff;
            }
        }
    }

    &__3column{
        display: flex;
        gap: 0 16px;

        &--item{
            width: calc(100% / 3);
        }
    }
}
