@use "../../global/import"as *;

.p-works {
    display: flex;
    flex-wrap: wrap;
    gap: 48px;
    justify-content: center;
    margin-bottom: 80px;

    &__contents{
        width: 278px;
        padding-bottom: 15px;
        transition: transform 0.3s;

        &:hover{
            transform: translateY(-5px);
        }
    }

    &__image{
        width: 100%;
        aspect-ratio: 16 / 12;
        object-fit: contain;
        padding: 8px;
    }

    &__h3{
        margin: 15px 10px 8px;
        color: var(--primary-color);
        font-size: var(--font-size-medium);
    }

    &__text{
        margin: 0 10px;
        font-size: var(--font-size-small);
    }
}

