@use "../../global/import"as *;

.p-works{
    display: flex;
    flex-wrap: wrap;
    gap: 0 48px;

    &__contents{
        width: 278px;
        background-color: rgba(var(--secondary-color-rgb), 0.1);
    }

    &__h3{
        margin-bottom: 8px;
        color: var(--primary-color);
    }  
}